<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/board.css">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
</head>
<body>
<h1>게시글 목록</h1>
<a href="/" class="nav-link">main home</a>
<br>
<div class="buttons">
    <button class="button" onclick="location.href='/board1'">글 작성</button>
    <button class="button" onclick="location.href='/1'">홈으로</button>
</div>

<ul class="post-list">
    <li class="post-list-item" th:each="board : ${boardList}">
        <div>
            <p class="post-content">글 번호</p>
            <h2 class="post-title">글 제목</h2>
            <h2 class="post-title">작성자 ID</h2>
        </div>
        <div>
            <!-- 게시글 정보 출력 -->
            <a class="post-content" th:text="${board.number}" th:href="@{/boardc/{number}(number=${board.number})}"></a>
            <h2 class="post-title" th:text="${board.title}"></h2>
            <h2 class="post-title" th:text="${board.id}"></h2>
        </div>
        <div class="button-group">
            <form th:action="@{/board2/{number}(number=${board.number})}" method="GET" >
                <button class="button">수정</button>
            </form>
            <form th:action="@{/board3/{number}(number=${board.number})}" method="post">
                <button class="button">삭제</button>
            </form>
        </div>
    </li>
</ul>
</body>
</html>