<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/write.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<style>
  body {
    background-image: url("/assets/img/bg-signup.jpg");
    background-size: cover;
  }
  label {
    text-align: center;
    display: block;
  }
</style>
<body>
  <div class="write-form">
    <table er="1" width=500>
      <tr>
        <th>
          <h2> 글 본문</h2>
          <input type="text"  name="id" th:value="${board.id}" readonly>
        </th>
      </tr>

      <tr>
        <td>
          <input type="text" placeholder="제목을 입력하세요.(50자 제한)"   style="width:100%" name="title"   th:value="${board.title}" readonly>
        </td>
      </tr>

      <tr>
        <td height=400>
          <textarea placeholder="내용을 입력하세요.(200자 제한)" style="width: 100%; height: 100%" th:text="*{board.content}" name="content"  readonly></textarea>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/board">게시글 목록으로</a>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>