<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/write.css">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>spring web project 1912031</title>
</head>
<body>
<form method="post" th:object="${board}" action="/board1">
  <div class="write-form">
    <table er="1" width=500>
      <tr>
        <th>
          <h2> 글 쓰기</h2>
          <div style="text-align: left">현재 접속중인 아이디</div>
          <input type="text" style="margin-right: 330px" th:value="${id}"  maxlength=10 name="id" readonly>
        </th>
      </tr>

      <tr>
        <td>
          <input type="text" placeholder="제목을 입력하세요.(20자 제한)" maxlength=20  style="width:100%" name="title" th:field="*{title}" required>
          <div class="error-message" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        </td>
      </tr>

      <tr>
        <td height="400">
          <textarea placeholder="내용을 입력하세요.(100자 제한)" style="width: 100%; height: 100%" name="content" th:field="*{content}" maxlength="100" required></textarea>
        </td>
      <tr>
        <td>
          <div class="error-message" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
        </td>
      </tr>
        <td>
          <input type="submit" value="글쓰기">
          <a href="/board">글 목록보기</a>
          <a href="/"   class="nav-link" >main home</a>
        </td>
      </tr>

    </table>
  </div>
</form>
</body>
</html>