<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>spring web project 1912031</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}">
</head>
<style>
    .field-error{
        border-color: red;
        color: red;
        font-size: 18px;
    }

    p{
        color: red;
    }
    .container {
        max-width: 960px;
    }

    body {
        background-image: url("/assets/img/demo-image-02.jpg");
        background-size: cover;
    }
    label {
        text-align: center;
        display: block;
    }
</style>
<body class="bg-light">
<div class="container">
    <div class="py-5 text-center">
        <a href="/1">
        <img class="d-block mx-auto mb-4" src="/assets/img/ulsanUVs.png" alt="" width="250" height="100">
        </a>
        <h2>회원 수정</h2>
        <p class="lead">회원 수정 시, 재 로그인이 필요합니다. </p>
    </div>
    <form th:action  method="post" th:object="${member}">
        <input type="hidden" th:field="*{number}" />
            <div class="col-12">
                <label for="name" class="form-label">이름(10자 이하)</label>
                    <input type="text" class="form-control" id="name" name="name" maxlength="10" th:field="*{name}" >
                    <h3 th:errorclass="field-error" th:errors="*{name}" ></h3>
            </div>
            <div class="col-12">
                <label for="Jid" class="form-label">아이디(3자 이상 12자 이하)<span class="text-muted"></span></label>
                <input type="text" class="form-control" id="Jid" name="id" maxlength="12" th:field="*{id}" readonly>
                <h3 th:errorclass="field-error" th:errors="*{id}" ></h3>
            </div>

            <div class="col-12">
                <label for="Jpwd" class="form-label">비밀번호(3자 이상 12자 이하)</label>
                <input type="password" class="form-control" id="Jpwd" name="pwd" maxlength="12"  th:field="*{pwd}">
                <h3 th:errorclass="field-error" th:errors="*{pwd}" ></h3>
            </div>

            <div class="col-12">
                <label for="Jcall" class="form-label">전화번호(11자) <span class="text-muted"></span></label>
                <input type="text" class="form-control" id="Jcall" name="tell"  th:field="*{tell}" maxlength="11">
                <h3 th:errorclass="field-error" th:errors="*{tell}" ></h3>
            </div>
            <hr class="my-4">
        <button class="w-100 btn btn-primary btn-lg" type="submit">회원 수정!</button>
    </form>
</div>
</div>
</main>
</div>
</body>
</html>
