<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>spring web project 1912031</title>
  <link th:href="@{/css/bootstrap.min.css}"
        href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
  .field-error{
    border-color: red;
    color: red;
    font-size: 18px;
  }
  .container {
    max-width: 960px;
  }
  body {
    background-image: url("/assets/img/demo-image-02.jpg");
    background-size: cover;
  }
  label {
    text-align: center;
    display: block;
  }
</style>
<body class="bg-light">
<div class="container">

  <div class="py-5 text-center">
    <a href="/">
    <img class="d-block mx-auto mb-4" src="/assets/img/ulsanUVs.png" alt="" width="250" height="100">
    </a>
    <h2>회원 가입</h2>
    <p class="lead">Korean mountain web site 에 가입하고 자유롭게 소통해보세요! </p>
  </div>
  <form th:action="@{/join}" method="post" th:object="${member}">
    <div class="col-12">
      <label for="name" class="form-label">이름(10자 이하)</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="EX)홍길동" th:field="*{name}" required>
      <h3 th:errorclass="field-error" th:errors="*{name}" ></h3>
    </div>

    <div class="col-12">
      <label for="id" class="form-label">아이디(3자 이상 12자 이하)<span class="text-muted"></span></label>
      <input type="text" class="form-control" id="id" name="id" placeholder="EX) KIM111" th:field="*{id}" required>
      <h3 th:errorclass="field-error" th:errors="*{id}"></h3>
    </div>

    <div class="col-12">
      <label for="pwd" class="form-label">비밀번호(3자 이상 12자 이하)</label>
      <input type="password" class="form-control" id="pwd"  name="pwd" th:field="*{pwd}" required>
      <h3 th:errorclass="field-error" th:errors="*{pwd}"></h3>
    </div>

    <div class="col-12">
      <label for="call" class="form-label">전화번호(11자) <span class="text-muted"></span></label>
      <input type="text" class="form-control" id="call"  name="tell"  placeholder="01012345678" th:field="*{tell}" maxlength="11" required>
      <h3 th:errorclass="field-error" th:errors="*{tell}"></h3>
    </div>
    <hr class="my-4">

    <button class="w-100 btn btn-primary btn-lg" type="submit">회원 가입!</button>
  </form>
</div>
</div>
</main>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">Copyright &copy; 1912031 문태진 스프링 기말시험 2023</p>
</footer>
</div>
</body>
</html>
