body {
    font-family: Arial, sans-serif;
    background-image: url("../assets/img/bg-signup.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}
h1 {
    text-align: center;
    color: #fff;
    margin-top: 50px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button:hover {
    background-color: #fff;
    color: #007bff;
    border-color: #007bff;
}

.post-list {
    list-style-type: none;
    padding: 0;
}

.post-list-item {
    max-width: 500px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.post-list-item > div {
    flex: 1;
}

.post-list-item .post-content,
.post-list-item .post-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-title {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-content {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}


.post-list-item .button {
    margin-left: 10px;
    background-color: transparent;
    color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.post-list-item .button-group {
    display: flex;
    margin-top: auto;
}

.post-list-item .button:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}


.nav-link {
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}