<!DOCTYPE html>
<html lang="kr"  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>spring web project 1912031</title>
        <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" />
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">Korean mountain</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a href="login" class="nav-link">Login</a></li>
                        <li class="nav-item"><a href="https://tour.ulsan.go.kr/kor/contents.do?mId=001001008002000000" class="nav-link" target="_blank">Ulsan Mountain</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">MOUNTAIN</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">Have a free conversation about the beautiful mountains of South Korea.</h2>
                        <a class="btn btn-primary" href="join">회원가입</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">대한민국의 산, 그리고 울산의 산에 대하여 </h2>
                        <p class="text-white-50">
                            대한민국의 아름다운 산들을 탐험하고 자연의 숨결을 만끽해보세요. <br>
                            Explore the majestic mountains of South Korea and immerse yourself in the breathtaking beauty of nature.
                        </p>
                    </div>
                </div>

            </div>
        </section>
        <!-- Projects-->

        </section>
        <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; 1912031 문태진 스프링 기말시험 2023</div></footer>
    </body>
</html>
